<% if session[:dest] != "groups" %>
<img class="bg" src="/assets/nine.jpg">

  <h1 id = "where"> I'M FEELING . . .</h1>
   <form name="mood_form">
    <div id="radio">
      <input type="radio" id="radio2" name="radio" onclick="get_radio_value()" value="adventurous"/><label class="list"  for="radio2">ADVENTUROUS</label>
      <input type="radio" id="radio3" name="radio" onclick="get_radio_value()" value="drinks"/><label class="list"  for="radio3">DRINKY</label>
      <input type="radio" id="radio4" name="radio" onclick="get_radio_value()" value="artsy"/><label class="list" for="radio4">ARTSY</label>
      <input type="radio" id="radio5" name="radio" onclick="get_radio_value()" value="food"/><label class="list" for="radio5">FOODIE</label>
      <input type="radio" id="radio6" name="radio" onclick="get_radio_value()" value="stylish"/><label class="list" for="radio6">STYLISH</label>
      <input type="radio" id="radio7" name="radio" onclick="get_radio_value()" value="toppicks"/><label class="list" for="radio7">SPECIAL</label>
      
    </div>
  </form>

<span class="nav1"><a href="/">BACK</a></span> 

<% end %>


  <script>
  var a=document.getElementsByTagName("a");
  for(var i=0;i<a.length;i++){
      a[i].onclick=function(){
          window.location=this.getAttribute("href");
          return false
      }
  }

  $(function() {
        $( "#radio" ).buttonset();
    });
  </script>



  <script>
  $(document).ready(function () {
    mood_tag = "food";

  <% if session[:user_id] == nil %>
    // get access_token to use for authenticated api calls
      var access_token;
          var q = document.URL.split('#')[1];
          if(q != undefined){
            q = q.split('=')[1];
            access_token = q;
            }

    console.log("my access token: " + access_token);
    
    //var access_token = "OXZVVTCMITWBF15RO5ORSDYG2KARG4BMN0UMUVSUG4TMOTH1";

    var url = "https://api.foursquare.com/v2/users/self"; // TODO: replace this with token from session

      var params = new Object();
      params.oauth_token = access_token; // TODO: replace this with token from session
      $.ajax({
              url: url,
              type: 'get',
              dataType: 'jsonp',
              data:params,
              success: fs_query_success
            });

      function fs_query_success(data){
        var userobj = data.response.user;
        var first_name = userobj.firstName;
        var last_name = userobj.lastName;
        var full_name = first_name + " " + last_name;

        $.get('/user/login', {token: access_token, full_name: full_name}, function(data){
          if(data == "OK"){
            console.log("Successfully logged in user!");
            <% if session[:dest] == "groups" %>
                 var url = "/circle/view_all";
                 <% session[:dest] = "" %>
                 window.location = url;
            <% end %>

            $(".circles").attr("href", "/circle/view_all");
          } else if(data == "NOK"){
            console.log("Error logging in user!");
            //window.location.href="/";
          }
        });
      }
  <% else %>
    $(".circles").attr("href", "/circle/view_all");
  <% end %>
   });

    // return the value of the radio button that is checked
    // return an empty string if none are checked, or
    // there are no radio buttons
    function get_radio_value() {
      // var next = "<a href='../soc_wave_list?mood_tag=" + mood_tag + "'>NEXT</a>";
      var radio_length = document.mood_form.radio.length;
      for(var i = 0; i < radio_length; i++) {
        if(document.mood_form.radio[i].checked){
          mood_tag = document.mood_form.radio[i].value;
          window.location = "/soc_wave_list?mood_tag=" + mood_tag;
        }
      }

    }


  </script>
