	<div>
		<h1>THIS IS WHERE YOU PICK YOUR MOOD SO WE CAN DO OUR JOB BETTER</h1>
        
	</div>
	<div>
    	<a href="/" > HOME </a>
	    <br>
	    <p>
    		Now that you know what I feel like doing, take me to the waves by...
    	</p>
		<a href="soc_wave_list" > Waves With Friends </a>
		<a href="loc_wave_list" > Nearby Waves that suits your mood </a>

   
    </div>
    
    
		
</div>