<img class="bg" src="/assets/bg.png"/>


	<div>
		<h1>Welcome to wave</h1>
        
	</div>

	<div class = "links">
		<div class="friend_wave">
		    <a href="/soc_wave_list" > RIDE A WAVE WITH FRIENDS </a>
		</div>
		<div class="local_wave">
 			<a href="/loc_wave_list" > RIDE A NEARBY WAVE </a>
		</div>
   		<div class="mood">
		    <a href="/soc_mood_picker" >I'M FEELING LIKE...</a>
   		</div>
	
		<div class="circle">
		    <a href="/friend_circle" >MY FRIENDS ARE...</a>
   		 </div>
	</div>