
<img class="bg" src="/assets/one.jpg"/>
<img class="bg" src="/assets/four.jpeg"/>
<img class="bg" src="/assets/five.jpg"/>


<!-- 	<div>
		<h1>Welcome to wave</h1>
        
	</div>
 -->

    <div id ="heythere"><p class = "enterone">HEY THERE!</p></div>	
	<!--<div id="friendslink"><a href="/soc_wave_list/login"><p class = "enter">RIDE A WAVE WITH FRIENDS</p></a></div>-->
	<div id="friendslink"><a href="/soc_wave_list/login"><p class = "enter">RIDE A WAVE WITH FRIENDS</p></a></div>
	<div id="wavelink"><a href="/loc_wave_list"><p class = "entertwo"> RIDE A NEARBY WAVE </p></a></div>
	<div id="seefriendslink"><a href="/circle/view_all"><p class = "enterthree"> MODIFY GROUPS </p></a></div>


		<!--
   		<div class="mood">
		    <a href="/soc_mood_picker" >I'M FEELING LIKE...</a>
   		</div>
	
		<div class="circle">
		    <a href="/friend_circle" >MY FRIENDS ARE...</a>
   		 </div>
   		-->
	</div>

	<script type="text/javascript">
	
	test();
	
	function test() {
	/* I am changing this code here */
	for(i=0; i< 200; i++){
    	$("img").each(function(index) {
        	$(this).hide();
        	$(this).delay(6000* index).fadeIn(8000).fadeOut();
    	});
		}
	}

</script>
<script>
	var a=document.getElementsByTagName("a");
	for(var i=0;i<a.length;i++){
    	a[i].onclick=function(){
        	window.location=this.getAttribute("href");
        	return false
    	}
	}
	</script>