
<img class="bg" src="/assets/bw.jpg" height="800"/>

<div class="text-holder">
	<h2 class='tut-title'>WELCOME TO WAVE</h2>
	<div class='tut-detail-list'>
		<div class='tut-detail'> <b>WAVE</b> is an application that allows you to explore events or <b>"waves"</b> around you depending on your mood, interests, and close groups of friends.<br><br></div>
		<div class='tut-detail'> <b>RIDE A NEARBY WAVE</b> lets you explore what's popular around you and where people near you are going. <br><br></div>
		<div class='tut-detail'> <b>RIDE A WAVE WITH FRIENDS</b> lets you see the waves from your customized friend circles and also lets you share stories you have about a place with friends who share your same interests.<br><br></div>
		<div class='tut-detail'> By <b>riding a wave</b>, you can explore and enjoy places around you that match what you want and love.<br><br></div>
		
	</div>
	<div class ="tut-exit"><a href="../">START EXPLORING</a></div>	

</div>



<script>
	var a=document.getElementsByTagName("a");
	for(var i=0;i<a.length;i++){
    	a[i].onclick=function(){
        	window.location=this.getAttribute("href");
        	return false
    	}
	}
</script>
<style type="text/css">

	body{
		background-image: url('/assets/bw.jpg');
		background-repeat: repeat-y;
	}

	.text-holder {
		width: 80%;
		height: 400px;
		opacity: 0.85;
		background-color: white;
		margin: 0 auto;
		margin-top: 30px;
	}
	.tut-title {
		color: black;
		opacity: 1;
		margin-bottom: 10px;
	}
	.tut-detail {
		width: 80%;
		margin: 0 auto;
		font-family: "HelveticaNeue-Light";
		opacity: 1;
		font-size: 11px;
	}
	.tut-exit{
		margin-bottom:20px;
		width: 50%;
		padding:8px;
		text-decoration: none;
		background-color: #388E8E;
		opacity: 1;
		color: black;
		margin: 0 auto;
		font-family: 'League Gothic';
		font-size: 20px;
		margin-top: 5px;
		text-align: center;	
	}
</style>