<h2 style="color:grey">
CHOOSE HIS NEW CIRCLE:

</h2>

<ul>
<li> HIKING</li>
<li> FOODIES</li>
<li> PARTIES</li>
<li> JAZZY</li>



</ul>

<a href="friend_circle" style="background-color:gray">BACK TO YOUR FRIENDS</a><br>
<a href="/">HOME</a>