<h2 style="color:grey">
YOUR FRIEND IS NOW DELETED FROM ALL YOUR CIRCLES, BUT WE WON'T TELL HIM THE SECRET =)

</h2>

<a href="friend_circle" style="background-color:gray">BACK TO YOUR FRIENDS</a><br>
<a href="/">HOME</a>