<!--
TODO:

To put navigation bar in the bottom
put friends who recommend it on the list
Put icons with list view
Show map with annotations regarding to places in the list
  -->
<div data-role="page">
  <div id ="loc_wave_list_header" style="color:grey">
    <h1>SEE HIS/HER RECENT WAVES...</h1>
  </div>

    <div class="links" >
    <a href="/">HOME</a>
    <a href="/">BACK</a>
  </div>
    
   <div> 

    <ul class="accordion" style:"margin-top:30px" data-role="content" >
    <li>
        <a>STARTUP WEEKEND</a>
        <div style="font-family:sans-serif">Definitely a good experience, our wave idea was such a successful pitch!
        </div>
    </li>

    <li>
        <a>FARMERS MARKET ON CAL AVE</a>
        <div style="font-family:sans-serif">Vote for the roma crepes!
        </div>
    </li>

</ul>



 
</div>
</div> 


<script type="text/javascript">
			
		$(document).ready(function () {
			$('ul.accordion').accordion();

			
		});
				
	</script>