
<html>
<body>
	<div id = "container">
		<div id = "main">
			<div id = "topImage" style="height: 150px; width: 100%;">
				<div id = "nameInfo" style="height: 50px; width: 100%">
					<p class = "name"> Waves with Friends </p>
					<p id = "subhead">Stanford, CA </p>

				</div>
			</div>
			<div id = "grey" style="height: 320px; width: 100%;">
				<p class = "circleHeader">MY GROUPS</h1>
			    <ul class="allCircles">
					<li class="circle">
						<span class = "grayBox">HIKING</span>
						<a class="changed" href="friendList">
							<img src="/assets/hiking.jpg" />
						</a>

					</li>
					<li class="circle">
						<span class = "grayBox1">FOOD</span>
						<a class="changed" href="friendList">
							<img src="/assets/food.jpg" />
						</a>
					</li>
					<li class="circle">
						<span class = "grayBox2">ARTSY</span>
						<a class="changed" href="friendList">
							<img src="/assets/artsy.jpg" />
						</a>
					</li>
					<li class="circle">
						<span class = "grayBox3">SMART</span>
						<a class="changed" href="friendList">
							<img src="/assets/book.jpg" />
						</a>
					</li>
				</ul>
				<span class = "seeya"><a class="yes" href="/">BACK</a></span>
			</div>
		</div>
	</div>
<script>
var a=document.getElementsByTagName("a");
for(var i=0;i<a.length;i++){
    a[i].onclick=function(){
        window.location=this.getAttribute("href");
        return false
    }
}

function doStuff() {

		  	// get access_token to use for authenticated api calls
			var access_token;
			  	var q = document.URL.split('#')[1];
			  	if(q != undefined){
		    		q = q.split('=')[1];
		    		access_token = q;
		    		}
		    	
	         $("a.changed").attr("href", "friendList#access_token=" + access_token);
	         //$("a.yes").attr("href", "/soc_mood_picker#access_token=" + access_token);
	         document.getElementsByClassName('changed').href = sHref;

		  	






		}

doStuff();

</script>
</body>
</html>