<% #if session[:user].blank? %>
  <!--<script type="text/javascript">
    window.location.href="/";
  </script>-->
<% #end %>

  <style>
    
  </style>


  <img class="bg" src="/assets/nine.jpg"/>
<!-- <div id = "introduction">

</div> -->


<div id="AccordionContainer" class="AccordionContainer">
  <h1 id = "waves"> Friendly Waves </h1>
  <div id = "links">
<a  class = "nav" href="../soc_mood_picker" >Back to Exploring</a>
</div>
</div>


<script>
  var a=document.getElementsByTagName("a");
  for(var i=0;i<a.length;i++){
      a[i].onclick=function(){
          window.location=this.getAttribute("href");
          return false
      }
  }
  </script>

<script type="text/javascript">
      
    $(document).ready(function () {
      $('ul.accordion').accordion();

      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(success, error);
        } else {
          console.debug('not supported');
        }

        var startlat;
        var startlong;

      function error() {
        console.debug("user geolocation is not supported")
      }
      function success(position) {

        startlat = position.coords["latitude"];
        startlong = position.coords["longitude"];

        var vars = [], hash;
        var mood = "food";
        var foursquare_mood = "food";
        var q = document.URL.split('?')[1];
        if(q != undefined){
          mood=q.split('=')[1];
          // console.log(mood);
        }

        //map mood to foursquare api section
        if(mood == "adventurous")
          foursquare_mood = "outdoors";
        else if(mood == "artsy")
          foursquare_mood = "arts";
        else if(mood == "romantic" )
          foursquare_mood = "sights";
        else if(mood == "stylish")
          foursquare_mood = "shops";
        else if(mood == "budget")
          foursquare_mood = "specials";






        var query = "https://api.foursquare.com/v2/venues/explore";   
        params = new Object();
        params.ll = position.coords["latitude"] + "," + position.coords["longitude"];
        params.limit = 10;
        params.section = foursquare_mood;
        params.oauth_token = "UOQQCXQE42ECWMGUMHR3GMNBGSQORC1KB2JBXSJUWY3FBBPG";
        $.ajax({
          url: query,
          dataType: 'json',
          data: params,
          success: fs_query_success
        }); 
      }

      function fs_query_success(data){
        console.log("success"); 
        var groups = data.response.groups;
        for(var i=0;i<groups.length;i++){
          var items = groups[i].items;  
          for(var j=0;j<items.length;j++){
            var venue_obj = items[j];
            var venue = venue_obj.venue;
            console.log(venue);

            //get the tips to display on the accordion
            var tips_obj = venue_obj.tips;
            tips = tips_obj[0];
            tips_user = tips.user.firstName;


            //get ratings to display in accordion
            var rating = venue.rating;


            //get other relevatn info from venue
            var venue_name = venue.name;
            var venue_id = venue.id;
            var venue_contact = venue.contact["formattedPhone"];

            //get venue address
            var loc = venue.location;
            var address = loc.address;
            var city = loc.city;
            var state = loc.state;
            var zipcode = loc.postalCode;
            var venue_lat = loc["lat"];
            var venue_long = loc["lng"];

            

            //mapping venue distance in miles, popularity onto wave icons
            var distance = loc["distance"]/1600;
            var checkins = venue.stats.checkinsCount;


            //map the distance icon
            var dist_icon_path = "";
            if (distance < 1.0) {
              dist_icon_path = "/assets/wave_icon/walk.svg";
            }
            else if (distance > 2.0) {
              dist_icon_path = "/assets/wave_icon/car.svg";
            }
            else {dist_icon_path = "/assets/wave_icon/bike.svg";}
            

            //map using checkin amount
            var checkin_icon_path = "";
            if (checkins > 5000) {
              checkin_icon_path = "/assets/wave_icon/ship.svg";
            }
            else if (checkins < 1000) {
              checkin_icon_path = "assets/wave_icon/swim.svg";
            }
            else {checkin_icon_path = "assets/wave_icon/surf.svg";}


            var token_str = "UOQQCXQE42ECWMGUMHR3GMNBGSQORC1KB2JBXSJUWY3FBBPG";


            var title = "<div onclick='runAccordion(" + j + ");'><div class='AccordionTitle' onselectstart='return false;'> <div><img src= " + dist_icon_path + " height='30' width='30' style='float:left'><div><img src= " + checkin_icon_path + " height='30' width='30' style='float:left'></div>" + venue_name + "</div></div>";
          
            // pass on venue name, distance, id, token to show me more
            var content = "<div id='Accordion" + j + "Content' class='AccordionContent'><br/> " + tips_user + " said: "+  tips.text  + "<br/><br/> Rating: " + rating.toFixed(1) + "/10 <br/><br/><a class = 'navi' href='soc_wave_list/wave_detail?id=" + venue_id + "&token=" + token_str + "&name=" + venue_name + "&contact=" + venue_contact + "&addr=" + address + "&city=" + city + "&state=" + state + "&zipcode=" + zipcode+ generateHref(startlat, startlong, venue_lat, venue_long) + "'>SHOW ME MORE</a><a class='navi' href='soc_wave_list/wave_final?id=" + venue_id + "&name=" + venue_name + "&addr=" + address + "&city=" + city + "&state=" + state + "&zipcode=" + zipcode+ generateHref(startlat, startlong, venue_lat, venue_long) +"'>RIDE THIS WAVE</a></div>";
            console.log(content);

            $(".AccordionContainer").append(title);
            $(".AccordionContainer").append(content);
          }
        }
        }      
    });
        
  </script>











  <script>
var ContentHeight = 100;
var TimeToSlide = 250.0;

var openAccordion = '';

function runAccordion(index)
{
  var nID = "Accordion" + index + "Content";
  if(openAccordion == nID)
    nID = '';
    
  setTimeout("animate(" + new Date().getTime() + "," + TimeToSlide + ",'" 
      + openAccordion + "','" + nID + "')", 33);
  
  openAccordion = nID;
}

function generateHref(startlat, startlong, endlat, endlong){
          var str = "&startlat=" + startlat + "&startlong=" + startlong + "&endlat=" + endlat + "&endlong=" + endlong;
          return str;
        }

function animate(lastTick, timeLeft, closingId, openingId)
{  
  var curTick = new Date().getTime();
  var elapsedTicks = curTick - lastTick;
  
  var opening = (openingId == '') ? null : document.getElementById(openingId);
  var closing = (closingId == '') ? null : document.getElementById(closingId);
 
  if(timeLeft <= elapsedTicks)
  {
    if(opening != null)
      opening.style.height = ContentHeight + 'px';
    
    if(closing != null)
    {
      closing.style.display = 'none';
      closing.style.height = '0px';
    }
    return;
  }
 
  timeLeft -= elapsedTicks;
  var newClosedHeight = Math.round((timeLeft/TimeToSlide) * ContentHeight);

  if(opening != null)
  {
    if(opening.style.display != 'block')
      opening.style.display = 'block';
    opening.style.height = (ContentHeight - newClosedHeight) + 'px';
  }
  
  if(closing != null)
    closing.style.height = newClosedHeight + 'px';

  setTimeout("animate(" + curTick + "," + timeLeft + ",'" 
      + closingId + "','" + openingId + "')", 33);
}

</script>




<!-- Meetup API call
          var query = "https://api.meetup.com/2/open_events?";
          params = new Object();
          params.key = "422a4d16a2332e2b664975792b5116";
          params.sign = true;
          params.lat = position.coords["latitude"];
          params.lon = position.coords["longitude"];
          params.radius = 2;
          params.page = 5;
          console.log("ready to query api...");
          console.log(query);
          $.ajax({

            url: query,
            dataType: "jsonp",
            jsonpCallback:"jsoncallback",
            data: params,
            success: fs_query_success

          }); -->


<!--           
          //meetup data parse
          console.log("sucess getting data");
          var results = data.results;
          for(var i = 0; i < results.length; i++) {
            var result = results[i];
            console.log(result);
            var meetup_name = result.name;
            var meetup_id = result.id;
            var dist = result.distance;
            var event_url = result.event_url;
            var description = result.description;
            var rsvp_cnt = result.yes_rsvp_count;
            var new_description = description.replace(/(<([^>]+)>)/ig,"");  -->