<style>
    body{
      background-image:url("/assets/foursquare-bg.jpg");
      background-repeat: both;
    }
  </style>



	<div class="content" style="padding-top:80px;">	
		<h2> Please log in to foursquare to bespoke your wave with friends<br><br></h2>
		


	<a href="https://foursquare.com/oauth2/authenticate?client_id=X5UTSWIGZNPCYKBG4L10JFT5TDQQEWXW1EHRLNPVRH0OVHO5&response_type=token&redirect_uri=http://0.0.0.0:3000/soc_mood_picker" title="Login" style="font-family:sans-serif; padding-top:40px; font-size:19px; text-align:center;">LOG IN WITH FOURSQUARE</a>
	</div>

	<div id="footer">

	<p class="right" style="horizontal-align:middle;"><img src="http://colinwren.com/projects/route/poweredbyfoursquare-mark.png" /></p>
	</div>

	<script>
	var callback_url = "https://foursquare.com/oauth2/authenticate?client_id=X5UTSWIGZNPCYKBG4L10JFT5TDQQEWXW1EHRLNPVRH0OVHO5&response_type=token&redirect_uri=" + window.location.hostname + "/soc_mood_picker";
	console.log(callback_url);
	</script>

