 <div>
 <h2>Cantor Art Center</h2>
 </div>

 <div>
    <p>
      Show map of this place<br>
      show yelp or foursqaure reviews of this place<br>
      Show more pictures of this place<br>
      Add directions option if have time

    </p>
<img src="http://www.terragalleria.com/images/us-ca/usca33416.jpeg"></img>

 </div>
 <div>
 <a href="soc_wave_list/wave_final">Ride this wave</a>
 </div>

 <a href="/"> home </a>