	<div data-role = "content">
 		<div class="pitch">
			<h2>THANKS FOR RIDING A WAVE</h2>
			<h3> YOU ARE NOW PART OF SOMETHING BIG...</h3>
	 	</div>

	 	<script type="text/javascript">
	 	$(".pitch").css("color", "grey").css("font-family", "League Gothic")
	 				.css("font-size", "20px");
	 	</script>

	 	<div class="pitch">
		    <p>
		    	AREN'T YOU EXCITED TO SHARE THIS WAVE WITH YOUR FRIENDS ONCE YOU GET THERE?
		    </p>
		 </div>	
 

		

		 <div class="links" style="width:40px">
		 	<a href="/"> HOME </a>
		 </div>


		  <div class="links" style="width:130px" style="margin-top:20px">
		 	<a href="/"> REMIND ME TO SHARE THIS WAVE WITH OTHERS </a>
		 </div>
		<script type="text/javascript">
	 		$(".links").css("color", "grey").css("font-family", "League Gothic")
	 				.css("font-size", "20px").css("text-decoration", "none")
	 				.css("background-color", "gray");
	 	</script>



	</div>