

<div id="bgimg">
</div>
<div class="bg"></div>
<!-- <img class="bg" src="/assets/ikes.jpeg"/> -->
<div id = "moreinf">
<!-- <h2> WAVE DETAILS </h2> -->
<h2 id = "header" > </h2>
<p id="text">
<br/>
</p>

<div id = "getout">
<a  class = "na" href="../soc_wave_list">Back</a>
<!-- <a  class = "na" href="wave_final">Ride this Wave</a> -->
</div>
</div>




<script>
  	var a=document.getElementsByTagName("a");
  	for(var i=0;i<a.length;i++){
      	a[i].onclick=function(){
          	window.location=this.getAttribute("href");
          	return false
      	}
  	}
   	var vars = [], hash;
  	var q = document.URL.split('?')[1];
  	if(q != undefined){
    	q = q.split('&');
    	for(var i = 0; i < q.length; i++){
      		hash = q[i].split('=');
      		vars.push(hash[1]);
      		vars[hash[0]] = hash[1];
    	}
	}
	// console.log(q);
	var id = vars['id'];
	var dist = vars['dist'];
	var name = vars['name'];
	var token = vars['token'];
  var contact = vars['contact'];
  var startlat = vars['startlat'];
  var startlong = vars['startlong'];
  var endlat = vars['endlat'];
  var endlong = vars['endlong'];
  var name = vars['name'];
  var address = vars['addr'];
  var city= vars['city'];
  var state = vars['state'];
  var zipcode = vars['zipcode'];
  var access_token = vars['access_token'];
  var mood = vars['mood_tag'];
  var friend_name = vars['friend'];

  var href_back = "../soc_wave_list?mood_tag=" +mood + "&access_token=" + access_token;
  $(".na").attr('href', href_back);
	$("#header").append("<h2 style='font-size:30px'>" + unescape(name) + "</h2>");
	// $("#text").html(unescape(name) + "<br/>" + unescape(description));

  var ride_btn = "<a class='na' href='/loc_wave_list/wave_final?id=" + id + "&contact=" + contact + "&name=" + name + "&addr=" + address + "&city=" + city + "&state=" + state + "&zipcode=" + zipcode + "&startlat=" + startlat + "&startlong=" + startlong + "&endlat=" + endlat + "&endlong=" + endlong + "'>RIDE THIS WAVE</a>";
  console.log(ride_btn);
  $("#getout").append(ride_btn);

	//query to download all photos links of a venue
 	var query = "https://api.foursquare.com/v2/venues/" + id + "/photos?";
 	var query2 = "https://api.foursquare.com/v2/venues/" + id + "/tips?sort=popular"   
 	    params = new Object();
        params.group = "venue"
        params.oauth_token = access_token;
        $.ajax({
          	url: query,
            dataType: 'json',
            data: params,
            success: fs_photo_query_success
        });


        $.ajax({
          	url: query2,
            dataType: 'json',
            data: params,
            success: fs_tips_query_success
        });


   function fs_photo_query_success(data) {
        var photo = data.response.photos.items[0].sizes.items[1].url;
        var bg_img = "<img class='bg' src=" + photo  + " />";
        $("#bgimg").append(bg_img);

    }

    function fs_tips_query_success(data) {
    	var tips = data.response.tips.items;

    	for( var i = 0; i < Math.min(1, tips.length); i++) {
    		var tip = tips[i];
    		var text = tip.text;
    		var user = tip.user.firstName;
    		$("#text").append("<p> " + friend_name + " said: " + text + " <br/><br/></p>");
    	}



    }


 </script>