   <div data-role="page" >

  <script>
var ContentHeight = 100;
var TimeToSlide = 250.0;

var openAccordion = '';

function runAccordion(index)
{
  var nID = "Accordion" + index + "Content";
  if(openAccordion == nID)
    nID = '';
    
  setTimeout("animate(" + new Date().getTime() + "," + TimeToSlide + ",'" 
      + openAccordion + "','" + nID + "')", 33);
  
  openAccordion = nID;
}

function animate(lastTick, timeLeft, closingId, openingId)
{  
  var curTick = new Date().getTime();
  var elapsedTicks = curTick - lastTick;
  
  var opening = (openingId == '') ? null : document.getElementById(openingId);
  var closing = (closingId == '') ? null : document.getElementById(closingId);
 
  if(timeLeft <= elapsedTicks)
  {
    if(opening != null)
      opening.style.height = ContentHeight + 'px';
    
    if(closing != null)
    {
      closing.style.display = 'none';
      closing.style.height = '0px';
    }
    return;
  }
 
  timeLeft -= elapsedTicks;
  var newClosedHeight = Math.round((timeLeft/TimeToSlide) * ContentHeight);

  if(opening != null)
  {
    if(opening.style.display != 'block')
      opening.style.display = 'block';
    opening.style.height = (ContentHeight - newClosedHeight) + 'px';
  }
  
  if(closing != null)
    closing.style.height = newClosedHeight + 'px';

  setTimeout("animate(" + curTick + "," + timeLeft + ",'" 
      + closingId + "','" + openingId + "')", 33);
}

</script>

<style>
    body{
      background-image:url("/assets/gradient.jpg");
      background-repeat: repeat-y;
    }
  </style>

<!--<img class="bgi" src="/assets/gradient.jpg" style="width:320px;height:480px"/>-->
<div id = "introduction">
<h1 id="waves introduction">Waves Near You</h1>
</div>

<div id="AccordionContainer" class="AccordionContainer">
  <div id = "links">
    <a class = "nav" href=".." >Back to Exploring</a>
  </div>

</div>


<script>
  var a=document.getElementsByTagName("a");
  for(var i=0;i<a.length;i++){
      a[i].onclick=function(){
          window.location=this.getAttribute("href");
          return false
      }
  }
  </script>

<script type="text/javascript">			
		$(document).ready(function () {
			$('ul.accordion').accordion();

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(success, error);
        } else {
          error('not supported');
        }

        function success(position) {
          console.log("The user's position is at");
          debug = position;
          console.log(debug);

          var query = "https://api.foursquare.com/v2/venues/explore";   
          params = new Object();
          params.ll = position.coords["latitude"] + "," + position.coords["longitude"];
          params.limit = 5;
          params.section = "arts";
          params.oauth_token = "UOQQCXQE42ECWMGUMHR3GMNBGSQORC1KB2JBXSJUWY3FBBPG";
          $.ajax({
            url: query,
            dataType: 'json',
            data: params,
            success: fs_query_success
          });
        }

        function fs_query_success(data){
          var groups = data.response.groups;
          console.log(groups);
          for(var i=0;i<groups.length;i++){
            var items = groups[i].items;
            
            for(var j=0;j<items.length;j++){

              var venue_obj = items[j];
              var venue = venue_obj.venue;
              console.log(venue); 

              var venue_name = venue.name;
              var venue_id = venue.id;
              console.log(venue_name);
              console.log(venue.contact);
              var venue_contact = venue.contact["formattedPhone"];
              var venue_category = venue.categories[0].name;
              var venue_category_icon = venue.categories[0].icon;
              var distance = venue.location["distance"];
              console.log(venue_name);

              // also display the number of people at that location right now

              // display venue on page
              var title = "<div onclick='runAccordion(" + j + ");'><div class='AccordionTitle' onselectstart='return false;'>" + venue_name + "</div></div>";
              var content = "<div id='Accordion" + j + "Content' class='AccordionContent'>This is " + venue_name + ". " + distance + " meters away from here.<br/><a class = 'navi' href='loc_wave_list/wave_detail?id=" + venue_id + "&contact=" + venue_contact + "&category=" + venue_category + "&icon=" + venue_category_icon + "&name=" + venue_name + "'>SHOW ME MORE</a><a class='navi' href='loc_wave_list/wave_final?id=" + venue_id + "&contact=" + venue_contact + "&category=" + venue_category + "&icon=" + venue_category_icon + "&name=" + venue_name + "'>RIDE THIS WAVE</a></div>";

              $(".AccordionContainer").append(title);
              $(".AccordionContainer").append(content);
            }
          }
        }

        function error(msg){
          console.log("could not get location of user");
        }
		});
				
	</script>


  <script>
var ContentHeight = 100;
var TimeToSlide = 250.0;

var openAccordion = '';

function runAccordion(index)
{
  var nID = "Accordion" + index + "Content";
  if(openAccordion == nID)
    nID = '';
    
  setTimeout("animate(" + new Date().getTime() + "," + TimeToSlide + ",'" 
      + openAccordion + "','" + nID + "')", 33);
  
  openAccordion = nID;
}

function animate(lastTick, timeLeft, closingId, openingId)
{  
  var curTick = new Date().getTime();
  var elapsedTicks = curTick - lastTick;
  
  var opening = (openingId == '') ? null : document.getElementById(openingId);
  var closing = (closingId == '') ? null : document.getElementById(closingId);
 
  if(timeLeft <= elapsedTicks)
  {
    if(opening != null)
      opening.style.height = ContentHeight + 'px';
    
    if(closing != null)
    {
      closing.style.display = 'none';
      closing.style.height = '0px';
    }
    return;
  }
 
  timeLeft -= elapsedTicks;
  var newClosedHeight = Math.round((timeLeft/TimeToSlide) * ContentHeight);



</script>