<div data-role="page" >
  <div id ="header" >
    <h1>NEARBY WAVES</h1>
  </div>

  <!-- <div data-role="content" > -->

  <style>
    body{
      background-image:url("gradient.jpg");
      background-repeat: both;
    }
  </style>


  <img class="bgi" src="./gradient.jpg"/>
<div id = "introduction">
<h1 id = "waves"> Waves Near You </h1>
</div>

<div id="AccordionContainer" class="AccordionContainer">
  <div id = "links">
    <a class = "nav" href="index.html">Back to Exploring</a>
  </div>



<!--
  <div onclick="runAccordion(1);">
    <div class="AccordionTitle" onselectstart="return false;">
      CANTOR ARTS CENTER
    </div>
  </div>
  <div id="Accordion1Content" class="AccordionContent">
     Here is where you put some basic information about Cantor Arts
     Center. JAY PATEL MAKE SURE YOU PUT NUMBER OF PEOPLE HERE(hereNow).
     <a  class = "navi" href="loc_wave_list/wave_detail">SHOW ME MORE</a>
       <a  class = "navi" href="loc_wave_list/wave_final">RIDE THIS WAVE</a>
  </div>


  <div onclick="runAccordion(2);">
    <div class="AccordionTitle" onselectstart="return false;">
      IKE'S PLACE
    </div>
  </div>
  <div id="Accordion2Content" class="AccordionContent">
    Here is where you put some basic information about Ike's Place.
    JAY PATEL MAKE SURE YOU PUT NUMBER OF PEOPLE HERE(hereNow).
    <a  class = "navi" href="loc_wave_list/wave_detail">SHOW ME MORE</a>
      <a  class = "navi" href="loc_wave_list/wave_final">RIDE THIS WAVE</a>
  </div>


  <div onclick="runAccordion(3);">
    <div class="AccordionTitle" onselectstart="return false;">
      MEMORIAL CHURCH
    </div>
  </div>
  <div id="Accordion3Content" class="AccordionContent">
    Here is where you put some basic information about Memorial Church.
    JAY PATEL MAKE SURE YOU PUT NUMBER OF PEOPLE HERE(hereNow).
    <a  class = "navi" href="loc_wave_list/wave_detail">SHOW ME MORE</a>
      <a  class = "navi" href="loc_wave_list/wave_final">RIDE THIS WAVE</a>
  </div>


  <div onclick="runAccordion(4);">
    <div class="AccordionTitle" onselectstart="return false;">
      HOOVER TOWER
    </div>
  </div>
  <div id="Accordion4Content" class="AccordionContent">
    Here is where you put some basic information about Hoover Tower.
    JAY PATEL MAKE SURE YOU PUT NUMBER OF PEOPLE HERE(hereNow).
    <a  class = "navi" href="loc_wave_list/wave_detail">SHOW ME MORE</a>
     <a  class = "navi" href="loc_wave_list/wave_final">RIDE THIS WAVE</a>
  </div>
-->



</div>


<script>
  var a=document.getElementsByTagName("a");
  for(var i=0;i<a.length;i++){
      a[i].onclick=function(){
          window.location=this.getAttribute("href");
          return false
      }
  }
  </script>

<script type="text/javascript">
			
		$(document).ready(function () {
			$('ul.accordion').accordion();

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(success, error);
        } else {
          error('not supported');
        }

        function success(position) {
          console.log("The user's position is at");
          debug = position;
          console.log(debug);

          var query = "https://api.foursquare.com/v2/venues/search";   
          params = new Object();
          params.ll = position.coords["latitude"] + "," + position.coords["longitude"];
          params.limit = 5;
          params.oauth_token = "UOQQCXQE42ECWMGUMHR3GMNBGSQORC1KB2JBXSJUWY3FBBPG";
          $.ajax({
            url: query,
            dataType: 'json',
            data: params,
            success: fs_query_success
          });
        }

        function fs_query_success(data){
          console.log(data);
          var groups = data.response.groups;
          for(var i=0;i<groups.length;i++){
            var items = groups[i].items;
            for(var j=0;j<items.length;j++){
              var venue = items[j];
              var venue_name = venue.name;
              var distance = venue.location["distance"];
              console.log(venue_name);

              // display venue on page
              var title = "<div onclick='runAccordion(" + j + ");'><div class='AccordionTitle' onselectstart='return false;'>" + venue_name + "</div></div>";
              var content = "<div id='Accordion" + j + "Content' class='AccordionContent'>This is " + venue_name + ". " + distance + " meters away from here.<a class = 'navi' href='loc_wave_list/wave_detail'>SHOW ME MORE</a><a class='navi' href='loc_wave_list/wave_final'>RIDE THIS WAVE</a></div>";

              $(".AccordionContainer").append(title);
              $(".AccordionContainer").append(content);
            }
          }
        }

        function error(msg){
          console.log("could not get location of user");
        }
		});
				
	</script>


  <script>
var ContentHeight = 100;
var TimeToSlide = 250.0;

var openAccordion = '';

function runAccordion(index)
{
  var nID = "Accordion" + index + "Content";
  if(openAccordion == nID)
    nID = '';
    
  setTimeout("animate(" + new Date().getTime() + "," + TimeToSlide + ",'" 
      + openAccordion + "','" + nID + "')", 33);
  
  openAccordion = nID;
}

function animate(lastTick, timeLeft, closingId, openingId)
{  
  var curTick = new Date().getTime();
  var elapsedTicks = curTick - lastTick;
  
  var opening = (openingId == '') ? null : document.getElementById(openingId);
  var closing = (closingId == '') ? null : document.getElementById(closingId);
 
  if(timeLeft <= elapsedTicks)
  {
    if(opening != null)
      opening.style.height = ContentHeight + 'px';
    
    if(closing != null)
    {
      closing.style.display = 'none';
      closing.style.height = '0px';
    }
    return;
  }
 
  timeLeft -= elapsedTicks;
  var newClosedHeight = Math.round((timeLeft/TimeToSlide) * ContentHeight);

  if(opening != null)
  {
    if(opening.style.display != 'block')
      opening.style.display = 'block';
    opening.style.height = (ContentHeight - newClosedHeight) + 'px';
  }
  
  if(closing != null)
    closing.style.height = newClosedHeight + 'px';

  setTimeout("animate(" + curTick + "," + timeLeft + ",'" 
      + closingId + "','" + openingId + "')", 33);
}

</script>
