<div data-role="page" >
  <div id ="header" >
    <h1>NEARBY WAVES</h1>
  </div>

  <div data-role="content" >
    <div id="top_nav">
    <a href="/">HOME</a>
    <a href="/">BACK</a>
    </div>

    <iframe width='300' height='200' frameBorder='0' src='http://a.tiles.mapbox.com/v3/manako.map-7ldlad0z.html#17/37.44476078748768/-122.16180306625039'></iframe>
    
   <div>	  
    <ul class="accordion">
 
    <li>
        <a>
          <img class="wave_icon" src="wave_icon/bike.svg"/>
          <img class="wave_icon" src="wave_icon/surf.svg"/>
          CANTOR ART CENTER</a>
        <div class="detail">
          <p class="info">
            Check out the extensive collection of art spanning from antiquity to the present day – all for free. Richard Serra's sculpture "Sequence" is on display until 2016, when it will be moved to the SFMOMA. 
          </p>  



        <a href="loc_wave_list/wave_final" > RIDE THE WAVE </a>
        <a href="loc_wave_list/wave_detail"> SHOW ME MORE </a>
        </div>
    </li>
    
     <li>
        <a>STANFORD MEMORIAL CHURCH</a>
        <div class="detail">
          <p class="info">
          MemChu is Stanford's architectural crown jewel, with extensive mosaics and stained glass windows. Seriously damaged in both the 1906 and 1989 earthquakes, it reopened once again in 1992.
        </p>
        <a href="loc_wave_list/wave_final"> RIDE THE WAVE </a>
        <a href="loc_wave_list/wave_detail"> SHOW ME MORE </a>
        </div>
    </li>
    
     
    
</ul>


</div>
</div> 


<script type="text/javascript">
			
		$(document).ready(function () {
			$('ul.accordion').accordion();

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(success, error);
        } else {
          error('not supported');
        }

        function success(position) {
          console.log("The user's position is at");
          debug = position;
          console.log(debug);

          var query = "https://api.foursquare.com/v2/venues/search";   
          params = new Object();
          params.ll = position.coords["latitude"] + "," + position.coords["longitude"];
          params.limit = 10;
          params.oauth_token = "UOQQCXQE42ECWMGUMHR3GMNBGSQORC1KB2JBXSJUWY3FBBPG";
          $.ajax({
            url: query,
            dataType: 'json',
            data: params,
            success: query_success
          });
        }

        function query_success(data){
          console.log(data);
        }

        function error(msg){
          console.log("could not get location of user");
        }
		});
				
	</script>