<% content_for :pagejs do %>
  <script src="http://cdn.optimizely.com/js/141715440.js"></script>
<% end %>

   <div data-role="page" >

  <script>
var ContentHeight = 100;
var TimeToSlide = 250.0;

var openAccordion = '';

function runAccordion(index)
{
  var nID = "Accordion" + index + "Content";
  if(openAccordion == nID)
    nID = '';
    
  setTimeout("animate(" + new Date().getTime() + "," + TimeToSlide + ",'" 
      + openAccordion + "','" + nID + "')", 33);
  
  openAccordion = nID;
}

function animate(lastTick, timeLeft, closingId, openingId)
{  
  var curTick = new Date().getTime();
  var elapsedTicks = curTick - lastTick;
  
  var opening = (openingId == '') ? null : document.getElementById(openingId);
  var closing = (closingId == '') ? null : document.getElementById(closingId);
 
  if(timeLeft <= elapsedTicks)
  {
    if(opening != null)
      opening.style.height = ContentHeight + 'px';
    
    if(closing != null)
    {
      closing.style.display = 'none';
      closing.style.height = '0px';
    }
    return;
  }
 
  timeLeft -= elapsedTicks;
  var newClosedHeight = Math.round((timeLeft/TimeToSlide) * ContentHeight);

  if(opening != null)
  {
    if(opening.style.display != 'block')
      opening.style.display = 'block';
    opening.style.height = (ContentHeight - newClosedHeight) + 'px';
  }
  
  if(closing != null)
    closing.style.height = newClosedHeight + 'px';

  setTimeout("animate(" + curTick + "," + timeLeft + ",'" 
      + closingId + "','" + openingId + "')", 33);
}

</script>

<style>
    body{
      background-image:url("/assets/gradient.jpg");
      background-repeat: repeat-y;
    }
  </style>

<!--<img class="bgi" src="/assets/gradient.jpg" style="width:320px;height:480px"/>-->

<ul id="navigationTop">
  <li><a href="/">BACK</a></li>
  <li><a href="/loc_wave_list">NEARBY WAVES</a></li>
  <li><a href="/soc_mood_picker">SOCIAL WAVES</a></li>
  <li><a href="/circle/view_all">GROUPS</a></li>
</ul>

<div id = "introduction">
<h1 id="waves introduction" style="opacity:0.8">WAVES NEAR YOU</h1>
</div>

<div id="AccordionContainer" class="AccordionContainer">
 
</div>


<script>
  var a=document.getElementsByTagName("a");
  for(var i=0;i<a.length;i++){
      a[i].onclick=function(){
          window.location=this.getAttribute("href");
          return false
      }
  }
  </script>

<script type="text/javascript">			
		$(document).ready(function () {
			$('ul.accordion').accordion();
      oauth_token = "UOQQCXQE42ECWMGUMHR3GMNBGSQORC1KB2JBXSJUWY3FBBPG";

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(success, error);
        } else {
          error('not supported');
        }

        var startlat;
        var startlong;

        function success(position) {
          // console.l og("The user's position is at");
          debug = position;
          // console.log(debug);

          startlat = position.coords["latitude"];
          startlong = position.coords["longitude"];

          var query = "https://api.foursquare.com/v2/venues/search";   
          params = new Object();
          params.ll = position.coords["latitude"] + "," + position.coords["longitude"];
          params.limit = 5;
          // params.section = "arts";
          params.oauth_token = oauth_token;
          $.ajax({
            url: query,
            dataType: 'json',
            data: params,
            success: fs_query_success
          });
        }

        //parse the data if a list of venues are returned
        function fs_query_success(data){
          var groups = data.response.groups;
          for(var i=0;i<groups.length;i++){
            var items = groups[i].items;
            console.log(items);
            
            for(var j=0;j<items.length;j++){
              var venue = items[j];
              console.log(venue);
              var venue_name = venue.name;
              var venue_id = venue.id;
              
              var venue_contact = venue.contact["formattedPhone"];
              var venue_category = venue.categories[0].name;
              var venue_category_icon = venue.categories[0].icon;
              var checkins = venue.stats.checkinsCount;

              var loc = venue.location;
              var address = loc.address;
              var city = loc.city;
              var state = loc.state;
              var zipcode = loc.postalCode;
              var venue_lat = loc["lat"];
              var venue_long = loc["lng"];
              var distance = loc["distance"]/1600;


                //map the distance icon
              var dist_icon_path = "";
              if (distance < 1.0) {
                dist_icon_path = "/assets/wave_icon/walk.svg";
              }
              else if (distance > 2.0) {
                dist_icon_path = "/assets/wave_icon/car.svg";
              }
              else {dist_icon_path = "/assets/wave_icon/bike.svg";}

              //map using checkin amount
              var rand = Math.random()*100;
              if(rand < 10){
                rand += 10;
              }
              rand = Math.floor(rand);
              var checkin_icon_path = "";
              if (checkins > 1000) {
                checkin_icon_path = "/assets/wave_icon/some.svg";
                var rand = Math.random()*200;
                if(rand < 100){
                  rand += 100;
                }
                rand = Math.floor(rand);
              }
              else if (checkins < 1000) {

                checkin_icon_path = "assets/wave_icon/few.svg";

                //checkin_icon_path = "assets/wave_icon/few.svg";
                var rand = Math.random()*55;
                rand = Math.ceil(rand);
              }
              else {
                checkin_icon_path = "assets/wave_icon/few.svg";
                var rand = Math.random()*15;
                if(rand < 10){
                  rand += 10;
                }
                rand = Math.floor(rand);

              }

              if(rand > 1){
                var suffix = " people there right now";
              } else if(rand == 1){
                var suffix = " person there right now";
              }
              

       /*      var title = "<div onclick='runAccordion(" + j + ");'><div class='AccordionTitle' style='opacity:0.8;' onselectstart='return false;'> <div><img class='c' src= " + dist_icon_path + " height='30' width='30' style='float:left'><div><img class='c' src= " + checkin_icon_path + " height='30' width='30' style='float:left'></div>" + venue_name + "</div></div>"; */

              var title = "<div onclick='runAccordion(" + j + ");'><div class='AccordionTitle' style='opacity:0.9;' onselectstart='return false;'> <div><img class='c' src= " + dist_icon_path + " height='30' width='30' style='float:left'><div><img class='c' src= " + checkin_icon_path + " height='30' width='30' style='float:left'></div>" + venue_name + "<br><div style='font-family:helvetica; font-size:12px; opacity:0.7;'>" + rand + suffix + "</div></div>";


              //create place holder for venue tips, and links
              var content_holder = "<div id='Accordion" + j + "Content' class='AccordionContent'> </div>"
              
              var links = "<a class = 'navi' href='loc_wave_list/wave_detail?id=" + venue_id + "&contact=" + venue_contact + "&category=" + venue_category  + "&name=" + venue_name +  "&addr=" + address + "&city=" + city + "&state=" + state + "&zipcode=" + zipcode + generateHref(startlat, startlong, venue_lat, venue_long) + "'>SHOW ME MORE</a><a class='navi'   href='loc_wave_list/wave_final?id=" + venue_id + "&contact=" + venue_contact + "&name=" + venue_name + "&addr=" + address + "&city=" + city + "&state=" + state + "&zipcode=" + zipcode+ generateHref(startlat, startlong, venue_lat, venue_long) + "'>RIDE THIS WAVE</a>";             
              
              $(".AccordionContainer").append(title);
              $(".AccordionContainer").append(content_holder);
              $("#Accordion" + j + "Content").append(links);


              //another api call to retrieve tips for this venue and display tip in the detail div
              tip_request(venue_id, j);


            }
          }
        }

        //return the most popular tip from requested venue with its index in the list
        function tip_request(venue_id, index) {
          //get tips from a venue
              var tips_query = "https://api.foursquare.com/v2/venues/" + venue_id + "/tips?sort=popular&oauth_token=" + oauth_token;
              tip = "";
              $.ajax({url:tips_query,
                      dataType:'json',
                      success:tips_success
                      })
              //call back funciton
              function tips_success (data){
                //get the most popular tip
                var tip_val = data.response.tips.items[0].text;
                //put the tip in accordion content
                var content = "<p class='tip'><br>" + tip_val + "</p>";    
                $("#Accordion" + index +"Content").append(content);
              }
              

        }

        function generateHref(startlat, startlong, endlat, endlong){
          var str = "&startlat=" + startlat + "&startlong=" + startlong + "&endlat=" + endlat + "&endlong=" + endlong;
          return str;
        }

        function error(msg){
          console.log("could not get location of user");
        }
		});
				
	</script>


  <script>
var ContentHeight = 100;
var TimeToSlide = 250.0;

var openAccordion = '';

function runAccordion(index)
{
  var nID = "Accordion" + index + "Content";
  if(openAccordion == nID)
    nID = '';
    
  setTimeout("animate(" + new Date().getTime() + "," + TimeToSlide + ",'" 
      + openAccordion + "','" + nID + "')", 33);
  
  openAccordion = nID;
}

function animate(lastTick, timeLeft, closingId, openingId)
{  
  var curTick = new Date().getTime();
  var elapsedTicks = curTick - lastTick;
  
  var opening = (openingId == '') ? null : document.getElementById(openingId);
  var closing = (closingId == '') ? null : document.getElementById(closingId);
 
  if(timeLeft <= elapsedTicks)
  {
    if(opening != null)
      opening.style.height = ContentHeight + 'px';
    
    if(closing != null)
    {
      closing.style.display = 'none';
      closing.style.height = '0px';
    }
    return;
  }
 
  timeLeft -= elapsedTicks;
  var newClosedHeight = Math.round((timeLeft/TimeToSlide) * ContentHeight);



</script>