


	<!--JAY H. PATEL LOOK OVER HERE AND DO NOT IGNORE THIS!!!!!!!
	This page is displayed for EACH wave location when the user
	wants to know more. See that yummy picture of that sandwich? 
	THAT is where we put the single picture of the venue. Cool sauce?
	With the text, fill it in with other interesting API info like
	categories, contact, and some basic info. This should elaborate
	on the information provided in the accordion menu.
-->




<div id="bgimg">
</div>
<img class="bg" src="/assets/ikes.jpeg"/>
<div id = "moreinf">
<h2> WAVE DETAILS </h2>
<p id="text">

</p>

<div id = "getout">
<a  class = "na" href="../loc_wave_list">Back</a>
</div>

<script>
  var a=document.getElementsByTagName("a");
  for(var i=0;i<a.length;i++){
      a[i].onclick=function(){
          window.location=this.getAttribute("href");
          return false
      }
  }

  var vars = [], hash;
  var q = document.URL.split('?')[1];
  if(q != undefined){
    q = q.split('&');
    for(var i = 0; i < q.length; i++){
      hash = q[i].split('=');
      vars.push(hash[1]);
      vars[hash[0]] = hash[1];
    }
	}

  console.log(q);

	var id = vars['id'];
	var contact = vars['contact'];
	var category = vars['category'];
	var icon = vars['icon'];
	var startlat = vars['startlat'];
  var startlong = vars['startlong'];
  var endlat = vars['endlat'];
  var endlong = vars['endlong'];

	if (contact == "undefined"){
		$("#text").html(unescape(name) + "<br/>" + unescape(category));
	} else {
		$("#text").html(unescape(name) + "<br/>" + unescape(category) + "<br/>" + unescape(contact));
	}

  var ride_btn = "<a class='na' href='/loc_wave_list/wave_final?id=" + id + "&contact=" + contact + "&category=" + category + "&icon=" + icon + "&name=" + name + "&startlat=" + startlat + "&startlong=" + startlong + "&endlat=" + endlat + "&endlong=" + endlong + "'>RIDE THIS WAVE</a></div>";
  $("#getout").append(ride_btn);
/*
	var query = "https://api.foursquare.com/v2/venues/" + id + "/photos";   
  params = new Object();
  params.group = "venue";
  params.limit = 1;
  params.oauth_token = "UOQQCXQE42ECWMGUMHR3GMNBGSQORC1KB2JBXSJUWY3FBBPG";
  $.ajax({
    url: query,
    dataType: 'json',
    data: params,
    success: fs_query_success
  });

  function fs_query_success(data){
  	var photo = data.response.photos;
  	console.log(photo);
  	var url = photo.prefix + "530x224" + photo.suffix;

  	var img = "<img src='" + url + "' class='bg'/>";
  	$("#bgimg").html(img);
  }
  */
 </script>