	<div data-role = "content">
 		<div id="header">
			<h2>THANKS FOR RIDING A WAVE</h2>
			<h3> YOU ARE NOW PART OF SOMETHING BIG...</h3>
	 	</div>

	 	<div class="pitch">
		    <p>
		    	AREN'T YOU EXCITED TO SHARE THIS WAVE WITH YOUR FRIENDS ONCE YOU GET THERE?
		    </p>
		 </div>	
 

		

		 <div class="links">
		 	<a href="/"> HOME </a>
		 </div>


		  <div class="links">
		 	<a href="/"> REMIND ME TO SHARE THIS WAVE WITH OTHERS </a>
		 </div>

	</div>