	<div data-role = "content">
 		<div id="header">
			<h2>CANTOR ART CENTER</h2>
	 	</div>

	 	<iframe width='300' height='200' frameBorder='0' src='http://a.tiles.mapbox.com/v3/manako.map-7ldlad0z.html#17/37.44476078748768/-122.16180306625039'></iframe>

	 	<div >
		 	<img width='300' height='150' src="http://museum.stanford.edu/images/participate/hostEvent.jpg"></img>
		    <p class="detail" >
		      Show map of this place
		      show yelp or foursqaure reviews of this place
		      Show more pictures of this place
		      Add directions option if have time

		    </p>
		 </div>	
 

		 <div class="links">
			<a href="loc_wave_list/wave_final">Ride this wave</a>
		 </div>

		 <div class="links">
		 	<a href="/"> home </a>
		 </div>


	</div>