  <h2 id = "ohyeah" >YOU'RE RIDING A WAVE TO  </h2>

  <p id = "name" class="noti" style = "margin-left:auto; margin-right:auto; font-size:25px;"></p>	
  <p id = "addr" class="noti" style = "margin-left:auto; margin-right:auto"><br><br></p>
	<p class = "noti" style = "margin-left:auto; margin-right:auto"><br>see the map below to start heading over<br></p>
	<p id = "or" style = "margin-left:auto; margin-right:auto"> OR</p>
	<div id = "notibutton" style = "margin-left:auto; margin-right:auto" onClick="create_notification()"><a href="#"><p> get notified when you are closer </p></a></div>
	<div id = "again" style = "margin-left:auto; margin-right:auto">
	<!-- <a  class = "n" href="../loc_wave_list">Back to Waves</a> -->
    <a  class = "n" href="..">Go Home</a>
	</div>
	<div id="googlemap">
	</div>



<script>
var vars = [], hash;
  var q = document.URL.split('?')[1];
  if(q != undefined){
    q = q.split('&');
    for(var i = 0; i < q.length; i++){
      hash = q[i].split('=');
      vars.push(hash[1]);
      vars[hash[0]] = hash[1];
    }
  }

  var startlat = vars['startlat'];
  var startlong = vars['startlong'];
  var endlat = vars['endlat'];
  var endlong = vars['endlong'];
  var name = unescape(vars['name']);
  var address = unescape(vars['addr']);
  var city= unescape(vars['city']);
  var state = vars['state'];
  var zipcode = vars['zipcode'];
  if(address != "undefined"){
    var loc = "<br/><p>" + address + "<br>" + city + ", " + state + " " + zipcode + "</p>";
  } else {
    var loc = "<br/><p>" + city + ", " + state + " " + zipcode + "</p>";
  }
  $('#addr').html(loc);
  $("#name").html(name);

var directionsDisplay;
var directionsService = new google.maps.DirectionsService();
var map;
var start = new google.maps.LatLng(startlat, startlong);
var end = new google.maps.LatLng(endlat, endlong);

function initialize() {
  directionsDisplay = new google.maps.DirectionsRenderer();
  var mapOptions = {
    zoom:7,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    center: start
  }
  map = new google.maps.Map(document.getElementById("googlemap"), mapOptions);
  directionsDisplay.setMap(map);

  $( "#dialog-message" ).dialog({
            modal: true,
            buttons: {
                Ok: function() {
                    $( this ).dialog( "close" );
                }
            }
        });
}

function calcRoute() {
  var request = {
    origin:start,
    destination:end,
    travelMode: google.maps.TravelMode.DRIVING
  };
  directionsService.route(request, function(result, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(result);
    }
  });
}

  initialize();
  calcRoute();

  var a=document.getElementsByTagName("a");
  for(var i=0;i<a.length;i++){
      a[i].onclick=function(){
          window.location=this.getAttribute("href");
          return false
      }
  }


  function create_notification() {
    console.log("clicked");
    $("#notibutton a").html("We will notify you when you are close");

      
    
  }
 </script>
  
  <style>
    body{
      background-image:url("/assets/six.jpeg");
      width:100%;
      left:0;
      position:absolute;
      top:0;
      height: 460px;
    }
  </style>